
.blink {
  animation: blink-animation 2s steps(5, start) infinite;
  font-weight: bold;
  font-size: 30px;
 
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
