.modal__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: pink;
    border: 3px solid #543336;
    padding: 25px;
    border-radius: 10px;
    
}

.modal{
    background-color: rgba(84, 51, 54, 0.3);
}